extends layout

block content
    div(style="padding: 8px; min-height: 100%; display: flex; justify-content: center; flex-direction: column")
        h1.t-c SUP G. This is PUG u hae
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>