doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/css/styles.css')
    link(rel='stylesheet', href='/fa/fa.css')
  body
    block content
    script(src="https://www.paypal.com/sdk/js?client-id=Adje7FVT5TsCmRQmoHS6B_OrS1wqIbVX4CO3vPTtj_cvyp40wKkWVPpIPLbJeMFxIa673yxdP_1p780Y&components=buttons&currency=USD" data-namespace="paypal_sdk")
    script(src="/js/main.js") 