
$orange: rgba(255, 152, 0, 1);
body {
  
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    position: relative;
  }
  html, body{
      height: 100%;padding: 0px; margin: 0
  }
  
  a {
    color: #00B7FF;
  }
  #paypal{
      margin: 0 auto;
  }
  
  .t-c{
      text-align: center;
  }
  
  .card{
     // box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
     border: 1.7px solid rgba(0, 0, 0, 0.2)
  }
  
  .m-auto{
      margin: 0 auto !important;
  }

  @for $i from 0 through 50 {
    .fs-#{$i} {
      font-size: #{$i}px !important;
    }
.br-#{$i}{
    border-radius: #{$i}px !important;
}
}

  @for $i from 1 through 8 {
    .fw-#{$i} {
      font-weight: #{$i}00;
    }
  }
  
  @for $i from 0 through 500 {

    .pd-#{$i}{
        padding: #{$i}px !important;
    }
    .h-#{$i} {
      height: #{$i}px !important;
    }
    .w-#{$i} {
      width: #{$i}px !important;
    }
    @media screen and (max-width: #{$i}px) {
      .w-#{$i} {
        width: calc(100vw - 40px) !important;
      }
    }
   
    .max-h-#{$i} {
      max-height: #{$i}px !important;
    }
    .max-w-#{$i} {
      max-width: #{$i}px !important;
    }
    .h-#{$i}p {
      height: #{$i}#{"%"} !important;
    }
    .w-#{$i}p {
      width: #{$i}#{"%"} !important;
    }
    .mv-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }
    .mh-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }
  }
  .row{
    display: flex;
    flex-direction: row;

  }
  .dflex{
    display: flex;
    flex-direction: column;

  }

  .jc-c{
    justify-content: center;
  }

  .ai-c{
    align-items: center;
  }

  .color-success{color: green;}
  .color-err{color: red;}
  .color-warning{color: orange;}

  .res-card{
    display: none;
    &.show{
        display: unset;
    }
  }
  .res-card2{
    display: none;
    &.show{
        display: unset;
    }
  }
  .bottom-sheet{
    min-height: 50px;
    width: 100%;
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 -1px 4px 5px rgba(0, 0, 0, .05);
}

.tu-btn{
    background-color: $orange !important;
}